<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Warehouses list</title>
    <style>
        article, aside, details, figcaption, figure, footer,header,
        hgroup, menu, nav, section { display: block; }
    </style>
</head>
<body>

<div th:each="warehouse : ${warehouses}">
    <a th:href="@{/warehouses/{id}(id=${warehouse.getWarehouseId()})}" th:text="${warehouse.getWarehouseName()}">warehouse</a>
</div>
<hr>
<form th:method="GET" th:action="@{/warehouses/new}">
    <input type="submit" value="Create new warehouse"></form>
<hr>
<a href = "/journals/index">Check journal</a>
<a href="/shelves/index">Shelves of current warehouses</a>
<a href = "/slots/index">Slot statistics</a>
<a href = "/commodities/index">Commodities stored here</a>
</body>
</html>