<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Slot</title>
    <style>
        article, aside, details, figcaption, figure, footer,header,
        hgroup, menu, nav, section { display: block; }
    </style>
</head>
<body>

<p>SLOTS OF CURRENT SHELF:</p>
<div th:each="slot : ${slots}">
    <a th:href="@{/slots/{id}(id=${slot?.getSlotId()})}" th:text="${slot?.getSlotId()}">slot</a>
</div>
<hr>
<form th:method="POST" action="slots">
    <input type="submit" value="Create new slot for current shelf"></form>
<hr>
<a href = "/warehouses/">Back to warehouses list</a>
<a href = "commodities">Commodities stored here</a>
<a href = "/journals/index">Check journal</a>
</body>
</html>