<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Commodities list</title>
    <style>
        article, aside, details, figcaption, figure, footer,header,
        hgroup, menu, nav, section { display: block; }
    </style>
</head>
<body>

<p>JOURNAL OF CURRENT UNIT:</p>
<div th:each="journal : ${journals}">
    <p th:text="${journal?.getOperationId() +', '+
    journal?.getOperationTime() +', '+journal?.getCommodityName() +', '+journal?.getOperationType()}">journal</p>
</div>
<br>
<hr>
<a href = "/warehouses">Warehouses list</a>
</body>
</html>